    <% if logged_in? %>
    <body>
        <h3>Current Regattas</h3>
        <%= render 'regattas/nextregattas' %>

    <% else %>
    <div class="bg">
    <body>
      <div class="centered">
        <div class="form-signin">
        <img class="mb-4" src=<%= asset_path('logo.png') %> alt="" width="250">
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email, class: 'sr-only'%>
            <%= f.email_field :email, class: 'form-control', id: 'inputEmail', placeholder: 'Email address'%>

            <%= f.label :password, class: 'sr-only'%>
            <%= f.password_field :password, class: 'form-control', id: 'inputPassword', placeholder: 'Password'%>

            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span style="color:white">Remember me on this computer</span>
            <% end %>

            <%= f.submit "Log in", class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </body>
</div>
