<h1>Edit Invoice</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@invoice) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :comment %>
      <%= f.text_field :comment, class: 'form-control' %>

			<%= f.label :user %>
			<%= f.select(:user_id, options_for_select(User.all.map { |u| [u.name, u.id]}, selected: @user_id)) %>

			<%= f.label :regatta %>
			<%= f.select(:regatta_id, options_for_select(@regattas.map { |u| [u.name, u.id]}, selected: @regatta_id)) %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
