<div class="col-md-8">
  <h1 style="text-align:left">All invoices</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th>Price</th>
          <th></th>
          <th>Comment</th>
          <th></th>
          <th>Regatta</th>
          <th></th>
          <th>User</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.name %></td>
            <td></td>
            <td><%= invoice.price %></td>
            <td></td>
            <td><%= invoice.comment %></td>
            <td></td>
            <td><%= @regattas.find(invoice.regatta_id).name %></td>
            <td></td>
            <td><%= @user.find(invoice.user_id).name%></td>
            <td></td>
            <% if invoice.regatta.balance[:closed] == false %>
	            <td><%= link_to '<i class="fe fe-trash"></i>'.html_safe, invoice, method: :delete,
	                                    data: { confirm: "You sure?" } %></td>
	            <td><%= link_to '<i class="fe fe-edit"></i>'.html_safe, [:edit, invoice] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
