<div class="col-md-2"></div>
<div class="col-md-6">
  <h1 style="text-align:left">New Invoice</h1>
  <hr>
      <%= form_for(@invoice) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>

        <%= f.label :comment %>
        <%= f.text_field :comment, class: 'form-control' %>

				<%= f.label :user %>
				<%= f.select(:user_id, options_for_select(User.all.map { |u| [u.name, u.id]}, selected: current_user.id)) %>

        <%= f.hidden_field :regatta_id, :value => @regatta_id.to_s %>

        <%= f.submit "Create invoice", class: "btn btn-primary" %>
      <% end %>
    </div>
