<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <td></td>
      <th>Place</th>
      <td></td>
      <th>Startdate</th>
      <td></td>
      <th>Enddate</th>
      <td></td>
      <th>Invoices</th>
      <td></td>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @nextregattas.each do |regatta| %>
      <tr>
        <td><%= regatta.name%></td>
        <td></td>
        <td><%= regatta.place%></td>
        <td></td>
        <td><%= regatta.startdate%></td>
        <td></td>
        <td><%= regatta.enddate%></td>
        <td></td>
        <td><%= link_to "add", {:controller => "invoices", :action => "new", :regatta_id => regatta.id } %> </br>
        <%= link_to "show", {:controller => "invoices", :action => "regattainvoices", :regatta_id => regatta.id } %></td>
        <td></td>
        <td><%= link_to "show", {:controller => "balances", :action => "show",
                :id => Balance.where(regatta_id: regatta.id)[0][:id] } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
