<h1>Edit Regatta</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@regatta) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :place %>
      <%= f.text_field :place, class: 'form-control' %>

      <%= f.label :startdate %>
      <%= f.date_field :startdate, class: 'form-control' %>

      <%= f.label :enddate %>
      <%= f.date_field :enddate, class: 'form-control' %>

      <%= f.label :supplement %>
      <%= f.text_field :supplement, class: 'form-control' %>
        
      <%= f.label :fee %>
      <%= f.text_field :fee, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
