<div class="col-md-8">
  <h1 style="text-align:left">All regattas</h1>
  <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th>Place</th>
          <th></th>
          <th>Startdate</th>
          <th></th>
          <th>Enddate</th>
          <th></th>
          <th>Crew</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Invoice</th>
        </tr>
      </thead>

      <tbody>
        <% @regattas.each do |regatta| %>
          <tr>
            <td><%= regatta.name%></td>
            <td></td>
            <td><%= regatta.place%></td>
            <td></td>
            <td><%= regatta.startdate%></td>
            <td></td>
            <td><%= regatta.enddate%></td>
            <td></td>
            <td><%= regatta.users.all.map(&:name).flatten.join(',')  %></td>
            <td></td>
            <td><%= link_to '<i class="fe fe-trash"></i>'.html_safe, regatta, method: :delete,
                                    data: { confirm: "You sure?" } %></td>
            <td><%= link_to '<i class="fe fe-edit"></i>'.html_safe, [:edit, regatta] %></td>
            <td></td>
            <td><%= link_to '<i class="fe fe-plus"></i>'.html_safe, {:controller => "invoices", :action => "new", :regatta_id => regatta.id } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
