<div class="col-md-8">
  <h1 style="text-align:left">Add crew</h1>
  <hr>

  <% @regattas.each_with_index do |regatta, index| %>
    <%= form_for(regatta) do |f| %>
      <% if index == 0 %>
        <table class="table table-striped">

          <thead>
            <tr>
              <th>Name</th>
              <th>Place</th>
              <th>Startdate</th>
              <th>Enddate</th>
            <% @users.each do |user| %>
              <th><%= user.name %></th>
            <% end %>
              <th></th>
            </tr>
          </thead>

      		<tbody>
        <% end %>

    				<tr>
    	 	      <td><%=regatta.name%></td>
        	    <td><%=regatta.place%></td>
         	    <td><%=regatta.startdate%></td>
          	  <td><%=regatta.enddate%></td>
              <%= f.collection_check_boxes :user_ids, User.all, :id, :name do |b| %>
                <td><%= b.check_box(class: "check_box") %></td>
              <% end %>
              <td><%= f.submit "Save", class: "btn-primary" %></td>
    			  </tr>
      <% if index == @regattas.count %>
      		</tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>

</div>
