.col-md-8
  %h1{:style => "text-align:left"} Balance for #{@regatta.name} Regatta
  %hr

  %table{:class => "table table-hover"}
    %tr
      %td
      %td
      - @users.each do |user|
        %td
          %b= user.name

    %tr
      %td
        %b Costs
      %td
      - @users.each do |user|
        %td= (@costs / @users.count).round(2)

    %tr
      %td Supplement
      %td #{@supp}%
      - @users.each do |user|
        %td= @supplement

    %tr
      %td Fee
      %td #{@feerate}€/Day
      - @users.each do |user|
        %td= @fee

    %tr
      %td
        %u Total costs
      %td
      - @users.each do |user|
        %td= @totalcosts

    %tr
      %td
        %b Expenses

    %tr
      %td
        Total Expenses
      %td
      - @users.each do |user|
        %td= @invoices.where(user_id: user.id).sum(:price)
      %td
        Subtotal
      %td= @costs

    %tr
      %td
        %b Total
      %td
      - @users.each do |user|
        %td= (@totalcosts - @invoices.where(user_id: user.id).sum(:price)).round(2)
      %td
        %b Total Costs
      %td= @costs + @totalprofit
    %tr
      %td
      %td
      - @users.each do |user|
        %td
      %td
        Profit
      %td= @totalprofit.round(2)
