.col-md-8
  %h2{:style => "text-align:left"} Balance for #{@balance.regatta.name} Regatta
  %hr

  %table{:class => "table table-hover"}
    %tr
      %td
      %td
      - @users.each do |user|
        %td
          %b= user.name

    %tr
      %td
        %b Costs
      %td
      - @users.each do |user|
        %td= (@costs / @users.count).round(2)

    %tr
      %td Supplement
      %td 5,0%
      - @users.each do |user|
        %td= @supplement

    %tr
      %td Fee
      %td 5,00€/Day
      - @users.each do |user|
        %td= @fee

    %tr
      %td
        %u Total costs
      %td
      - @users.each do |user|
        %td= @totalcosts

    %tr
      %td
        %b Expenses

    %tr
      %td
        Total Expenses
      %td
      - @users.each do |user|
        %td= @balance.regatta.invoices.where(:user_id => user.id).sum(:price)
      %td
        Subtotal
      %td= @costs

    %tr
      %td
        %b Total
      %td
      - @users.each do |user|
        %td= (@totalcosts - @balance.regatta.invoices.where(:user_id => user.id).sum(:price)).round(2)
      %td
        %b Total Costs
      %td= @costs + @totalprofit
    %tr
      %td
      %td
      - @users.each do |user|
        %td
      %td
        Profit
      %td= @totalprofit.round(2)

  %h2{:style => "text-align:left"} All invoices for #{@balance.regatta.name} Regatta
  %hr
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th
        %th Price
        %th
        %th Comment
        %th
        %th Regatta
        %th
        %th User
        %th
        %th
        %th
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td= invoice.name
          %td
          %td= invoice.price
          %td
          %td= invoice.comment
          %td
          %td= invoice.regatta.name
          %td
          %td= invoice.user.name
          %td
